@import url("https://fonts.googleapis.com/css2?family=Sofia+Sans:ital,wght@0,1;0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;0,1000;1,1;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900;1,1000&display=swap");
div.layout {
  width: 100vw;
  height: 100vh;
}

div.loading {
  width: 100%;
  text-align: center;
}
div.loading > div {
  width: 14px;
  height: 14px;
  background-color: #fff;
  border-radius: 100%;
  display: inline-block;
  animation: sk-bouncedelay 1.4s infinite ease-in-out both;
}
div.loading > div.bounce1 {
  animation-delay: -0.32s;
}
div.loading > div.bounce2 {
  animation-delay: -0.16s;
  margin: 0 10px;
}
@keyframes sk-bouncedelay {
  0% {
    transform: scale(0);
  }
  80% {
    transform: scale(0);
  }
  100% {
    transform: scale(0);
  }
  40% {
    transform: scale(1);
  }
}

input {
  background: #f7f7f7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-left: 3px solid #0058bc;
  font: normal normal 500 22px/24px "Sofia sans", sans-serif;
  line-height: 1.8em;
  padding-left: 15px;
  color: #a1a1a1;
}
input::-moz-placeholder {
  color: #dfdfdf;
}
input::placeholder {
  color: #dfdfdf;
}
input:active, input:focus-visible, input:focus {
  outline: 0;
}

> span {
  color: red;
  font: normal normal 500 14px/14px "Sofia sans", sans-serif;
  text-align: right;
  line-height: 0.5em;
}

div.shimmer-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  animation: loading 2.5s infinite;
}
div.shimmer-container > div.shimmer-effect {
  width: 10%;
  height: 100%;
  background: rgba(0, 0, 0, 0.2);
  transform: rotate(20deg);
  box-shadow: 0 0 30px 30px rgba(0, 0, 0, 0.2);
}
@keyframes loading {
  0% {
    transform: translateX(-150%);
  }
  50% {
    transform: translateX(-60%);
  }
  100% {
    transform: translateX(150%);
  }
}

div.sidenav {
  grid-area: sidenav;
  border-radius: 29px 0 0 29px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 25px 5px;
  align-items: center;
}
div.sidenav > img {
  max-width: 70px;
}
div.sidenav > div.side-links {
  height: 50%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  row-gap: 5%;
}
div.sidenav > div.side-links > div {
  display: flex;
  flex-direction: column;
  padding: 20px;
}
div.sidenav > div.side-links > div.side-body {
  justify-content: flex-end;
  height: 40%;
}
div.sidenav > div.side-links > div.side-footer {
  border-top: 1px solid #fff;
}

div.profile {
  background: #7fbcf3;
  border-radius: 29px 29px 29px 0;
  padding: 50px 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  row-gap: 25px;
  overflow: hidden;
}
div.profile div.user-info {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
}
div.profile div.user-info input {
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  border-left: none;
  font-size: 16px;
  width: 4rem;
  padding: 0;
}
div.profile div.user-posts {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  align-items: center;
  padding: 15px 0;
  border-top: 1px solid #fff;
  width: 100%;
  position: relative;
  overflow: auto;
}
div.profile div.user-posts span.user-posts-span {
  display: none;
}
div.profile.big {
  padding: 50px 25px;
}
div.profile.big div.user-info input {
  background: transparent;
  border-bottom: 1px solid #fff;
  color: #fff;
  border-left: none;
  width: 13rem;
  font-size: 16px;
}
div.profile.big div.user-posts {
  padding: 50px 15px;
}
div.profile.big div.user-posts span.user-posts-span {
  position: absolute;
  top: 15px;
  right: 15px;
  font: normal italic 500 14px/16px "Sofia sans", sans-serif;
  text-decoration: underline;
  color: #fff;
}

div.popup {
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100vh;
  z-index: 1;
  transition: 300ms;
}
div.popup[data-open=true] {
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: visible;
  transition: all 300ms;
}
div.popup[data-open=true] div.popup-overlay {
  opacity: 0.5;
  transition: opacity 300ms;
}
div.popup div.popup-overlay {
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background: #000;
  opacity: 0;
  transition: opacity 300ms;
}
div.popup div.popup-container {
  width: 100%;
  max-width: 500px;
  height: 650px;
  padding: 25px;
  background: #f2f2f2;
  border-radius: 12px;
  position: relative;
  z-index: 1;
}
div.popup div.popup-container div.close-popup {
  position: absolute;
  top: 25px;
  right: 25px;
  width: 25px;
  height: 25px;
  cursor: pointer;
}
div.popup div.popup-container div.close-popup > img {
  width: 25px;
  height: 25px;
}

div.post {
  width: 100%;
  height: auto;
  background: #edeaea;
  border-radius: 18px;
  box-shadow: 1px 15px 25px rgba(0, 0, 0, 0.06);
  max-width: 25%;
  max-height: 250px;
  padding: 25px;
  position: relative;
}
div.post div.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.post div.post-header label.post-title {
  font: normal normal 700 18px/20px "Sofia sans", sans-serif;
  text-align: left;
}
div.post div.post-header span.post-date {
  font: normal italic 500 14px/16px "Sofia sans", sans-serif;
  color: #a1a2a8;
  text-align: right;
}
div.post p.post-message {
  font: normal normal 500 16px/18px "Sofia sans", sans-serif;
  text-align: left;
  margin-top: 30px;
}
div.post span.post-full {
  position: absolute;
  bottom: 25px;
  right: 25px;
  cursor: pointer;
  font: normal italic 700 14px/16px "Sofia sans", sans-serif;
  color: #a1a2a8;
}
div.post span.post-full:hover {
  color: #7fbcf3;
  text-decoration: underline;
}
div.post.x1 {
  max-width: 100%;
  padding: 15px;
}
div.post.x1 div.post-header {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
div.post.x1 div.post-header label.post-title {
  font: normal normal 700 12px/14px "Sofia sans", sans-serif;
}
div.post.x1 div.post-header span.post-date {
  display: none;
}
div.post.x1 p.post-message {
  font: normal normal 500 10px/12px "Sofia sans", sans-serif;
  text-align: left;
  margin-top: 15px;
}
div.post.x1.big div.post-header label.post-title {
  font: normal normal 700 14px/16px "Sofia sans", sans-serif;
}
div.post.x1.big div.post-header span.post-date {
  font: normal italic 500 10px/12px "Sofia sans", sans-serif;
  color: #a1a2a8;
}
div.post.x1.big p.post-message {
  font: normal normal 500 14px/16px "Sofia sans", sans-serif;
}
@media only screen and (max-width: 1100px) {
  div.post {
    max-width: 20%;
    max-height: -moz-fit-content;
    max-height: fit-content;
  }
  div.post div.post-header label.post-title {
    font: normal normal 700 16px/18px "Sofia sans", sans-serif;
  }
  div.post div.post-header span.post-date {
    display: none;
  }
  div.post p.post-message {
    font: normal normal 500 10px/18px "Sofia sans", sans-serif;
    margin-top: 15px;
  }
  div.post span.post-full {
    font: normal italic 700 10px/12px "Sofia sans", sans-serif;
    bottom: 15px;
  }
}
@media only screen and (max-width: 790px) {
  div.post {
    max-width: 30%;
  }
}
@media only screen and (max-width: 530px) {
  div.post {
    max-width: 100%;
    padding: 20px;
  }
  div.post p.post-message {
    font: normal normal 500 13px/16px "Sofia sans", sans-serif;
  }
}

div.\/login {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  max-width: 70vw;
  max-height: 70vh;
  background: #fff;
  border-radius: 18px;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
div.\/login > .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/login form pic.jpg");
  background-size: cover;
  border-radius: 18px;
  color: #fff;
  position: relative;
}
div.\/login > .left > img {
  position: absolute;
  left: 1em;
  top: 1em;
  max-width: 10em;
}
div.\/login > .left > span {
  font: normal normal 500 24px/28px "Sofia sans", sans-serif;
  letter-spacing: 0.25px;
}
div.\/login > .left > label {
  font: normal normal 700 44px/28px "Sofia sans", sans-serif;
  line-height: 1.5em;
}
div.\/login > .left > hr {
  height: 8px;
  width: 85px;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50px;
  margin: 0 auto;
  border: 0;
}
div.\/login > .left > p {
  font: normal normal 500 14px/18px "Sofia sans", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  max-width: 50%;
}
div.\/login > .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.\/login > .right > h1 {
  color: #0058bc;
  font: normal normal 700 32px/34px "Sofia sans", sans-serif;
}
div.\/login > .right > h5.login-description {
  color: #e3e3e3;
  max-width: 50%;
  font: normal normal 500 12px/16px "Sofia sans", sans-serif;
  margin-top: 0;
}
div.\/login > .right > div.form-container {
  display: flex;
  flex-direction: column;
  width: 50%;
  row-gap: 15px;
}
div.\/login > .right > div.form-container > .login-form {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  row-gap: 15px;
  margin: 15px 0 0 0;
}
div.\/login > .right > div.form-container > .login-form input {
  background: #f7f7f7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-left: 3px solid #0058bc;
  font: normal normal 500 22px/24px "Sofia sans", sans-serif;
  line-height: 1.8em;
  padding-left: 15px;
  color: #a1a1a1;
}
div.\/login > .right > div.form-container > .login-form input::-moz-placeholder {
  color: #dfdfdf;
}
div.\/login > .right > div.form-container > .login-form input::placeholder {
  color: #dfdfdf;
}
div.\/login > .right > div.form-container > .login-form input:active, div.\/login > .right > div.form-container > .login-form input:focus-visible, div.\/login > .right > div.form-container > .login-form input:focus {
  outline: 0;
}
div.\/login > .right > div.form-container > .login-form > span {
  color: red;
  font: normal normal 500 14px/14px "Sofia sans", sans-serif;
  text-align: right;
  line-height: 0.5em;
}
div.\/login > .right > div.form-container > span.general-error {
  color: red;
  font: normal normal 500 14px/14px "Sofia sans", sans-serif;
  text-align: left;
  line-height: 0.5em;
}
div.\/login > .right > div.form-container > span.redirect {
  align-self: flex-end;
  font: normal normal 500 14px/16px "Sofia sans", sans-serif;
  color: #0058bc;
  margin: 0 0 15px 0;
}
div.\/login > .right > div.form-container > span.redirect:hover {
  cursor: pointer;
  text-decoration: underline;
}
div.\/login > .right > div.form-container > button.submit-login {
  background-color: #0058bc;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  font: normal normal 500 20px/22px "Sofia sans", sans-serif;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
div.\/login > .right > div.form-container > button.submit-login:after {
  content: "";
  background: rgba(25, 134, 212, 0.6235294118);
  padding-top: 300%;
  padding-left: 350%;
  display: block;
  position: absolute;
  margin-left: -30px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.5s;
}
div.\/login > .right > div.form-container > button.submit-login:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
div.\/login > .right > div.form-container > button.submit-login.logged-in {
  background: #059862;
  transition: 200ms;
}
@media only screen and (max-width: 1125px) {
  div.\/login > .left > img {
    max-width: 8em;
  }
  div.\/login > .left > span {
    font: normal normal 500 20px/24px "Sofia sans", sans-serif;
  }
  div.\/login > .left > label {
    font: normal normal 700 36px/28px "Sofia sans", sans-serif;
    line-height: inherit;
  }
  div.\/login > .left > p {
    display: none;
  }
  div.\/login > .right > h1 {
    font: normal normal 700 28px/30px "Sofia sans", sans-serif;
  }
  div.\/login > .right > h5 {
    display: none;
  }
  div.\/login > .right > div.form-container {
    width: 70%;
  }
  div.\/login > .right > div.form-container > .login-form > input {
    font: normal normal 500 18px/24px "Sofia sans", sans-serif;
  }
  div.\/login > .right > div.form-container > button {
    font: normal normal 500 18px/20px "Sofia sans", sans-serif;
  }
}
@media only screen and (max-width: 815px) {
  div.\/login {
    position: relative;
    grid-template-columns: none;
    grid-template-rows: 1fr 2fr;
    max-width: 85vw;
  }
  div.\/login > .left > hr {
    position: absolute;
    bottom: 2em;
  }
}
@media only screen and (max-width: 500px) {
  div.\/login {
    max-height: 60vh;
  }
  div.\/login > .left > span {
    font: normal normal 500 14px/24px "Sofia sans", sans-serif;
  }
  div.\/login > .left > label {
    font: normal normal 700 26px/28px "Sofia sans", sans-serif;
  }
  div.\/login > .left > hr {
    height: 6px;
    width: 70px;
  }
  div.\/login > .right > h1 {
    font: normal normal 700 20px/22px "Sofia sans", sans-serif;
  }
  div.\/login > .right > div.form-container > .login-form > input {
    font: normal normal 500 16px/22px "Sofia sans", sans-serif;
  }
  div.\/login > .right > div.form-container > button.submit-login {
    font: normal normal 500 16px/18px "Sofia sans", sans-serif;
  }
}

div.\/register {
  display: grid;
  grid-template-columns: 1fr 1fr !important;
  max-width: 70vw;
  max-height: 70vh;
  background: #fff;
  border-radius: 18px;
  transition: all 0.5s ease-in-out;
  position: relative;
  overflow: hidden;
}
div.\/register > .right {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url("../../../assets/login form pic.jpg");
  background-size: cover;
  border-radius: 18px;
  color: #fff;
  position: relative;
}
div.\/register > .right > img {
  position: absolute;
  left: 1em;
  top: 1em;
  max-width: 10em;
}
div.\/register > .right > span {
  font: normal normal 500 24px/28px "Sofia sans", sans-serif;
  letter-spacing: 0.25px;
}
div.\/register > .right > label {
  font: normal normal 700 44px/28px "Sofia sans", sans-serif;
  line-height: 1.5em;
}
div.\/register > .right > hr {
  height: 8px;
  width: 85px;
  background: #fff;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border-radius: 50px;
  margin: 0 auto;
  border: 0;
}
div.\/register > .right > p {
  font: normal normal 500 14px/18px "Sofia sans", sans-serif;
  letter-spacing: 1.5px;
  line-height: 1.5em;
  max-width: 50%;
}
div.\/register > .left {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
div.\/register > .left > h1 {
  color: #0058bc;
  font: normal normal 700 32px/34px "Sofia sans", sans-serif;
}
div.\/register > .left > h5.register-description {
  color: #e3e3e3;
  max-width: 70%;
  font: normal normal 500 12px/16px "Sofia sans", sans-serif;
  margin-top: 0;
}
div.\/register > .left > div.form-container {
  display: flex;
  flex-direction: column;
  width: 70%;
  row-gap: 15px;
}
div.\/register > .left > div.form-container > .register-form {
  display: flex;
  flex-direction: column;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  row-gap: 15px;
  margin: 15px 0 0 0;
}
div.\/register > .left > div.form-container > .register-form > .register-name {
  display: flex;
  flex-direction: row;
  -moz-column-gap: 25px;
       column-gap: 25px;
}
div.\/register > .left > div.form-container > .register-form > .register-name > input {
  width: 100%;
}
div.\/register > .left > div.form-container > .register-form input {
  background: #f7f7f7;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  border-left: 3px solid #0058bc;
  font: normal normal 500 22px/24px "Sofia sans", sans-serif;
  line-height: 1.8em;
  padding-left: 15px;
  color: #a1a1a1;
}
div.\/register > .left > div.form-container > .register-form input::-moz-placeholder {
  color: #dfdfdf;
}
div.\/register > .left > div.form-container > .register-form input::placeholder {
  color: #dfdfdf;
}
div.\/register > .left > div.form-container > .register-form input:active, div.\/register > .left > div.form-container > .register-form input:focus-visible, div.\/register > .left > div.form-container > .register-form input:focus {
  outline: 0;
}
div.\/register > .left > div.form-container > .register-form > span {
  color: red;
  font: normal normal 500 14px/14px "Sofia sans", sans-serif;
  text-align: right;
  line-height: 1em;
}
div.\/register > .left > div.form-container > span.general-error {
  color: red;
  font: normal normal 500 14px/14px "Sofia sans", sans-serif;
  text-align: left;
  line-height: 1em;
}
div.\/register > .left > div.form-container > span.redirect {
  align-self: flex-end;
  font: normal normal 500 14px/16px "Sofia sans", sans-serif;
  color: #0058bc;
  margin: 0 0 15px 0;
}
div.\/register > .left > div.form-container > span.redirect:hover {
  cursor: pointer;
  text-decoration: underline;
}
div.\/register > .left > div.form-container > button.submit-register {
  background-color: #0058bc;
  border-radius: 50px;
  text-transform: uppercase;
  text-align: center;
  font: normal normal 500 20px/22px "Sofia sans", sans-serif;
  letter-spacing: 3px;
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition-duration: 0.4s;
  -webkit-transition-duration: 0.4s;
}
div.\/register > .left > div.form-container > button.submit-register:after {
  content: "";
  background: rgba(25, 134, 212, 0.6235294118);
  padding-top: 300%;
  padding-left: 350%;
  display: block;
  position: absolute;
  margin-left: -30px !important;
  margin-top: -120%;
  opacity: 0;
  transition: all 1.5s;
}
div.\/register > .left > div.form-container > button.submit-register:active:after {
  padding: 0;
  margin: 0;
  opacity: 1;
  transition: 0s;
}
div.\/register > .left > div.form-container > button.submit-register.logged-in {
  background: #059862;
  transition: 200ms;
}
@media only screen and (max-width: 1125px) {
  div.\/register > .right > img {
    max-width: 8em;
  }
  div.\/register > .right > span {
    font: normal normal 500 20px/24px "Sofia sans", sans-serif;
  }
  div.\/register > .right > label {
    font: normal normal 700 36px/28px "Sofia sans", sans-serif;
    line-height: inherit;
  }
  div.\/register > .right > p {
    display: none;
  }
  div.\/register > .left > h1 {
    font: normal normal 700 28px/30px "Sofia sans", sans-serif;
  }
  div.\/register > .left > h5 {
    display: none;
  }
  div.\/register > .left > div.form-container {
    width: 70%;
  }
  div.\/register > .left > div.form-container > .register-form > input {
    font: normal normal 500 18px/24px "Sofia sans", sans-serif;
  }
  div.\/register > .left > div.form-container > button {
    font: normal normal 500 18px/20px "Sofia sans", sans-serif;
  }
}
@media only screen and (max-width: 815px) {
  div.\/register {
    position: relative;
    grid-template-columns: none;
    grid-template-rows: 2fr 1fr;
    max-width: 85vw;
  }
  div.\/register > .right > hr {
    position: absolute;
    bottom: 2em;
  }
}
@media only screen and (max-width: 500px) {
  div.\/register {
    max-height: 60vh;
  }
  div.\/register > .right > span {
    font: normal normal 500 14px/24px "Sofia sans", sans-serif;
  }
  div.\/register > .right > label {
    font: normal normal 700 26px/28px "Sofia sans", sans-serif;
  }
  div.\/register > .right > hr {
    height: 6px;
    width: 70px;
  }
  div.\/register > .left > h1 {
    font: normal normal 700 20px/22px "Sofia sans", sans-serif;
  }
  div.\/register > .left > div.form-container > .register-form > input {
    font: normal normal 500 16px/22px "Sofia sans", sans-serif;
  }
  div.\/register > .left > div.form-container > button.submit-register {
    font: normal normal 500 16px/18px "Sofia sans", sans-serif;
  }
}

div.\/dashboard {
  max-width: 85vw;
  max-height: 85vh;
  display: grid;
  grid-template-areas: "sidenav main main";
  grid-template-columns: 8% 92%;
  border-radius: 29px;
  background: #14172e;
}
div.\/dashboard > div.content {
  grid-area: main;
  display: grid;
  grid-template-columns: 90% 10%;
  background: #fff;
  border-radius: 29px 29px 29px 0;
  position: relative;
  overflow: hidden;
}
div.\/dashboard > div.content.big {
  grid-template-columns: 75% 25%;
}
div.\/dashboard > div.content > div.posts-content {
  flex-wrap: wrap;
  display: flex;
  gap: 25px 1%;
  overflow: auto;
  margin: 25px;
}
@media only screen and (max-width: 1225px) {
  div.\/dashboard {
    grid-template-columns: 80px 90%;
  }
  div.\/dashboard div.content {
    grid-template-columns: 100%;
  }
  div.\/dashboard div.content div.profile {
    display: none;
  }
  div.\/dashboard div.content.big {
    grid-template-columns: 100%;
  }
}
@media only screen and (max-width: 790px) {
  div.\/dashboard {
    grid-template-columns: 80px 80%;
  }
}
@media only screen and (max-width: 530px) {
  div.\/dashboard div.content div.posts-content {
    padding-right: 15px;
    margin: inherit 15px;
  }
}

div.\/error {
  max-width: 85vw;
  max-height: 85vh;
  position: relative;
}
div.\/error > div.error-card div.popup-container {
  max-height: 300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
div.\/error > div.error-card div.popup-container label.error-message {
  font: normal normal 500 26px/28px "Sofia sans", sans-serif;
}
div.\/error > div.error-card div.popup-container span.error-link {
  font: normal italic 500 20px/22px "Sofia sans", sans-serif;
  cursor: pointer;
  color: #a7a5a5;
  transition: 100ms;
}
div.\/error > div.error-card div.popup-container span.error-link:hover {
  text-decoration: underline;
  color: #213547;
}

:root {
  font-family: "Sofia-sans", sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #0058bc;
  text-decoration: inherit;
}

a:hover {
  text-decoration: underline;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  justify-content: center;
  min-width: 320px;
  height: 100vh;
  overflow: hidden;
  background: rgb(225, 239, 241);
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:focus,
button:focus-visible,
button:active {
  outline: 0;
}

div.layout {
  display: grid;
  box-shadow: 0px 3px 10px 0px rgba(0, 0, 0, 0.25);
}

@media (prefers-color-scheme: dark) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  button {
    background-color: #f9f9f9;
  }
}
#root {
  text-align: center;
}

* {
  transition: all 0.5s ease;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #f1f1f1;
  border-radius: 50px;
}

::-webkit-scrollbar-thumb {
  background: rgba(127, 188, 243, 0.5);
  border-radius: 50px;
}
::-webkit-scrollbar-thumb:hover {
  background: rgb(127, 188, 243);
}/*# sourceMappingURL=globals.css.map */